name: Rust

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ '**' ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install SDL2 dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libsdl2-dev libsdl2-mixer-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-gfx-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
